html,
body {
    min-height: 100vh;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(240, 242, 245);
    /* overflow-x: hidden;
    overflow: visible;
    overflow-y: scroll;
    overflow-y: auto; */
}

header {
    height: 55px;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left {
    display: flex;
    flex-direction: row;
    margin: auto 10px;
}

.search {
    margin-left: 10px;
    border-radius: 50px;
    padding-left: 15px;
    width: 230px;
    height: 40px;
    border: 1px solid rgb(217, 215, 215);
    background-color: rgb(240, 242, 245);
}

.center {
    display: flex;
    margin-left: 50px;
    gap: 45px;
}

.center a {
    margin: auto 0;
    height: 40px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center a:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    /* margin-left: auto !important; */
    margin-left: 165px !important;
    gap: 10px;
}

.end a {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 218, 223);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logouser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.svg-icon {
    width: 30px;
    height: 30px;
    color: rgb(96, 98, 92);

}

.svg-icon2 {
    width: 20px;
    height: 20px;
    color: rgb(5, 5, 5);
}

.active {
    color: rgb(27, 116, 228);
}

.column {
    display: flex;
    flex-direction: column !important;
}

.line {
    position: absolute;
    margin-top: 65px;
    border-bottom: 2px solid rgb(27, 116, 228);
    width: 60px;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.section-center {
    width: 54%;
    height: auto !important;
    margin-top: 40px !important;
    margin: 0 auto;
    padding: 40px;
    overflow-y: scroll !important;
}

.row-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
}

.box-story {
    width: 140px;
    max-height: 250px !important;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #D8D9DC;
}

.add-photo-user {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 150px !important;
}

.story {
    position: relative;
}

.name_of_user {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0;
    margin: 0 0 4px 0;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    opacity: 0.7;
}

.box1 {
    width: 480px;
    height: 110px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #D2D4D6;
    margin: auto;
    color: #696B6F;
    border-radius: 10px;
    margin-top: 20px;
}

.search2 {
    margin-left: 10px;
    border-radius: 50px;
    padding-left: 15px;
    gap: 1px !important;
    width: 390px;
    height: 35px;
    border: 1px solid #CED0D4;
    background-color: rgb(240, 242, 245);
    font-size: 15px;
}

.box2 {
    width: 480px;
    height: 50px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #D2D4D6;
    margin: auto;
    color: #696B6F;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.row-box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 8px;
    border-radius: 10px;
}

.border {
    margin: auto 0 !important;
    border: 1px solid #CED0D4;
    border-radius: 50px !important;
    width: 130px;
    height: 25px;
    margin-left: 10px !important;
}

.user-photo-search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img-functions {
    margin: auto;
    width: 25px;
    height: 25px;
}

.line3 {
    width: 95%;
    border: 1px solid #E4E6EB;
}

.padd-left {
    padding: 0 0 0 15px;
}

.story img {
    width: 140px;
    height: 250px;
    border-radius: 10px;
}

.user-add-story {
    max-height: 200px;
    border-radius: 0 !important;
}

.add-photo {
    position: absolute;
    margin-left: -80px;
    margin-top: 120px;
    width: 50px !important;
    height: 50px !important;
}

.section-right {
    margin-top: 60px;
    width: 24%;
    height: auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
    overflow-y: scroll !important;
}

.section-left {
    margin-top: 60px;
    width: 22%;
    height: auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
    overflow-y: scroll !important;
}

.section-left {
    font-size: 15px !important;
    color: #050505;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 10px;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
}

.row:hover {
    background-color: #E0E2E5;
}

.logouser2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.box {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 15px 15px 10px 5px;
    border-radius: 10px;
    border: 1px solid #D8D9DC;
}

.box-center {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.no-hover:hover {
    background-color: transparent !important;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.no-padding:hover {
    background-color: transparent !important;
}

.suggested {
    font-size: 14px;
    color: #696B6F;
}

.group-photo {
    width: 216px;
    height: 162px;
    border-radius: 8px;
}

.group {
    margin: 10px 0 0 0;
    font-size: 17px;
}

.group-detail {
    font-size: 14px;
    color: #696B6F;
}

.join {
    margin-top: 10px !important;
    margin: auto;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #D8D9DC;
}

.line2 {
    width: 240px;
    margin: 15px 15px 0 10px;
    border: 1px solid #CED0D4;
}

.contacts {
    background-color: transparent !important;
    margin: -5px 0 0 5px;
    height: 30px;
}

.icon {
    margin-left: 35px !important;
}

.contact-icons {
    color: #696B6F;
    margin-left: 15px;
}

.title {
    font-size: 17px;
    color: #696B6F;
}

.friends {
    margin-bottom: 25px;
}

.users {
    margin-right: 10px;
}

/* Scrollbar */
.section-center::-webkit-scrollbar {
    width: 0.4em;
    height: 2em;
}

.section-center::-webkit-scrollbar-thumb {
    background: #BCC0C4;
    border-radius: 10px;
}